<h2 matDialogTitle>{{stringService.get('SELECT_BRANCH_DIALOG_TITLE')}}</h2>
<mat-dialog-content style="min-width: 600px; height: 600px;">
  <mat-tab-group>
    <mat-tab label="Филиалы">
      <mat-form-field>
        <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
        <input matInput #nameFilter placeholder="{{stringService.get('FILTER_NAME')}}" (keyup.enter)="addNameFilterBranch(nameFilter.value)" />
      </mat-form-field>
      <mat-spinner style="margin: 0 auto;" *ngIf="!loaded"></mat-spinner>
      <div *ngIf="loaded">
        <!-- <div class="wrapper">
          <tree-root [options]="options" [nodes]="listToView">
            <ng-template #treeNodeTemplate let-node let-index="index">
              <div (click)="selectGoodsCategoryProperty(node.data)">{{node.data.name}}</div>
            </ng-template>
          </tree-root>
        </div> -->
        <div class="list-item" *ngFor="let branch of branchList" (click)="selectBranch(branch.id)">
          {{branch.fullName}}
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Контрагенты">
      <mat-form-field>
        <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
        <input matInput #nameFilter2 placeholder="{{stringService.get('FILTER_NAME')}}" (keyup.enter)="addNameFilterPartner(nameFilter2.value)" />
      </mat-form-field>
      <mat-form-field style="padding-left: 20px;">
        <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
        <input matInput #numberFilter placeholder="Поиск по номеру" (keyup.enter)="addNumberFilterPartner(numberFilter.value)" />
      </mat-form-field>
      <mat-spinner style="margin: 0 auto;" *ngIf="!loaded"></mat-spinner>
      <div *ngIf="loaded">
        <div class="list-item" *ngFor="let partner of partnerList" (click)="selectPartner(partner.id)">
          {{partner.name}} - {{partner.documentNumber}}
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
