<div class="reciver">
  <div>

    <div style="float: left; width: 100%;">
      <div style="float: left; width: 50%">
        <seed-select-field code="partner" placeholder="Отправитель" [data]="data"></seed-select-field>
      </div>
      <div style="float: left; width: 50%">
        <seed-select-field code="place" placeholder="Местоположение" [data]="data"></seed-select-field>
      </div>
    </div>
    <div style="float: left; width: 100%">
      <mat-form-field floatPlaceholder="always" class="reciver__field">
        <mat-placeholder class="reciver__place">Местоположение (комментарии)</mat-placeholder>
        <input matInput />
      </mat-form-field>
    </div>
  </div>

  <div>

    <div style="float: left; width: 100%;">
      <div style="float: left; width: 50%">
        <seed-select-field code="partner" placeholder="Получатель" [data]="data"></seed-select-field>
      </div>
      <div style="float: left; width: 50%">
        <seed-select-field code="place" placeholder="Местоположение" [data]="data"></seed-select-field>
      </div>
    </div>
    <div style="float: left; width: 100%">
      <mat-form-field floatPlaceholder="always" class="reciver__field">
        <mat-placeholder class="reciver__place">Местоположение (комментарии)</mat-placeholder>
        <input matInput />
      </mat-form-field>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
