.group {
  clear:both;
  padding: 40px 40px;
  display: block;
  background: #F6F8F8;
  margin: 0 -20px;
  &__item {
    float: left;
    &-100 {
      float: left;
      width: 100%;
    }
    &-50 {
      float: left;
      width: 48%;
      &-second {
        float: left;
        width: 48%;
        padding-left: 4%;
      }
    }
    &-field {
      width: 100%;
    }
    &-placeholder {
        color: #3696D7;
    }
  }
}
