.standard-field {
  padding: 20px 0;

  &__title {
    padding-top: 2px;
    line-height: 18px;
    font-weight: bold;
    font-size: 18px;
    float: left;
    width: 20%;

    &-custom {
      padding-top: 2px;
      line-height: 18px;
      font-weight: bold;
      font-size: 18px;
      float: left;
      width: 20%;
    }
  }
  &__subtitle {
    line-height: 10px;
    font-weight: normal;
    font-size: 10px;
    padding-left: 18px;
  }
  &__icon {
    float: left;
      color: #3696D7;
    width: 5%;
    line-height: 18px;
    &-custom {
      float: left;
        color: #3696D7;
      width: 5%;
      line-height: 18px;
      padding-top: 20px;
    }
  }

  &__close {
    float: right;
    &-custom {
      float: right;
      padding-top: 20px;
    }
  }

  &__divider {
    height: 10px;
    float: left;
    width: 70%;
    border-bottom: 1px solid #aaa;

    &-custom {
      height: 10px;
      float: left;
      width: 70%;
      border-bottom: 1px solid #aaa;
      padding-top: 20px;
    }
  }
}

.tree-node-wrapper {
  width: 100%;
}

.wrapper-tree {
  overflow: visible;
  height: 20px;
  width: 100%;
  display: inline-block;
}

.wrapper-tree-custom {
  overflow: visible;
  height: 20px;
  width: 100%;
  display: inline-block;
}

mat-icon.close-icon {
  font-size: 14px;
  font-weight: bold;
  float: left;
  height: 14px!important;
  width: 14px!important;
  padding-top: 3px;
  padding-left: 10px;
}

mat-icon.close-icon-custom {
  font-size: 14px;
  font-weight: bold;
  float: left;
  height: 14px!important;
  width: 14px!important;
  padding-top: 23px;
  padding-left: 10px;
}

.toggle {
  float: left;
  padding-top: 4px;
  padding-right: 5px;
}

i {
    border: solid #546E7A;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 8px;
    margin-bottom: 2px;
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
