<div class="page-lite login-page">

    <password-header></password-header>

    <div class="page-lite__content">
      <form [formGroup]="emailForm" (ngSubmit)="submit()" class="login-form">
          <h5>{{stringService.get('RECOVER_PASSWORD_EMAIL_TITLE')}}</h5>
          <div fxLayout="column">
            <mat-form-field>
              <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
              <input type="email" formControlName="email" matInput placeholder=
              "{{stringService.get('EMAIL')}}"/>
            </mat-form-field>
            <button type="submit" class="seed-button" color="primary" mat-button>{{stringService.get('SEND_BTN')}}</button>
          </div>
      </form>
    </div>

</div>
