<div class="page-lite login-page">

    <password-header></password-header>

    <div class="page-lite__content">
      <form [formGroup]="passwordForm" (ngSubmit)="submit()" class="login-form">
          <h5>{{stringService.get('RECOVER_PASSWORD_TITLE')}}</h5>
          <div fxLayout="column">
            <mat-form-field>
              <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
              <input type="password" formControlName="password" matInput placeholder=
              "{{stringService.get('PASSWORD')}}"/>
            </mat-form-field>
            <mat-form-field>
              <mat-error>{{stringService.get('PASSWORD_MISMATCH_ERROR')}}</mat-error>
              <input type="password" formControlName="passwordConfirm" matInput placeholder=
              "{{stringService.get('CONFIRM_PASSWORD')}}"/>
            </mat-form-field>
            <button type="submit" class="seed-button" color="primary" mat-button>{{stringService.get('SET_PASSWORD_BTN')}}</button>
          </div>
      </form>
    </div>

</div>
