@import '../../variables';

.container {
  height: 100%;
}
.main-container {
  height: 100%;
}
.header {
  background-color : $main-blue-color;
}
.login-button {
  background-color: $main-blue-color;
  color: white;
  min-height: 35px;
}
.mat-form-field {
  width: 100%;
}
.pass-form {
  margin-top: 3em;
  color: $main-text-color;
}
.logo {
  color: white;
  width: 15em;
  height: 15em;
}
.title {
  color: white;
  text-align: center;
}
