@import '../../variables';

// .container {
//   height: 100%;
// }
// .main-container {
//   height: 100%;
// }
// .header {
//   background-color : $main-blue-color;
// }
// .login-button {
//   background-color: $main-blue-color;
//   color: white;
//   min-height: 35px;
// }
// .mat-form-field {
//   width: 100%;
// }
// .pass-form {
//   margin-top: 3em;
//   color: $main-text-color;
// }
// .logo {
//   color: white;
//   width: 15em;
//   height: 15em;
// }
// .title {
//   color: white;
//   text-align: center;
// }

//new

 .mat-form-field {
   width: 100%;
 }
.login-form {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;

  &__actions {
    padding: 30px 0;
  }
}

.page-lite {

  &__header {

    width: 100%;
    min-height: 300px;
    padding: 40px 0;
    background: $main-blue-color;

    &-image {
      display: block;
      margin: 0 auto 30px;
      max-width: 200px;
    }

    &-title {
      text-align: center;
      font-size: 18px;
      color: #fff;
    }
  }

  &__content {
    padding: 20px 0;
  }
}
