
<div class="page-lite login-page">
    <password-header></password-header>
    <div class="page-lite__content">
      <form [formGroup]="passwordForm" (ngSubmit)="submit()" class="login-form">
          <h5>{{stringService.get('SET_PASSWORD_TITLE')}}</h5>
          <div fxLayout="column">
            <mat-form-field>
              <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
              <input formControlName="login" matInput placeholder=
              "{{stringService.get('LOGIN_FIELD_TITLE')}}"/>
            </mat-form-field>
            <mat-form-field>
              <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
              <input type="password" formControlName="password" matInput placeholder=
              "{{stringService.get('PASSWORD')}}"/>
            </mat-form-field>
            <mat-form-field>
              <mat-error>{{stringService.get('PASSWORD_MISMATCH_ERROR')}}</mat-error>
              <input type="password" formControlName="passwordConfirm" matInput placeholder=
              "{{stringService.get('CONFIRM_PASSWORD')}}"/>
            </mat-form-field>
            <button type="submit" class="seed-button" color="primary" mat-button>{{stringService.get('SET_PASSWORD_BTN')}}</button>
          </div>
      </form>
    </div>

</div>










<!-- <div fxLayout="column" class="main-container">
  <div fxFlex="45%" class="header" fxLayout="row">
    <div fxFlex fxLayoutAlign="center center" fxLayout="column">
        <mat-icon fxFlex="80%" svgIcon="logo" class="logo"></mat-icon>
        <div fxFlex="20%" class="title">{{stringService.get('LOGO_TITLE_1')}}<br>{{stringService.get('LOGO_TITLE_2')}}<br>{{stringService.get('LOGO_TITLE_3')}}</div>
    </div>
  </div>
  <div fxFlex="55%" fxLayout="column" fxLayoutAlign="start none">
    <div fxLayout="row" class="pass-form">
      <div fxFlex="40%"></div>
      <div fxFlex="20%">
        <div>
          <form [formGroup]="passwordForm" (ngSubmit)="submit()">
              <h5>{{stringService.get('SET_PASSWORD_TITLE')}}</h5>
              <div fxLayout="column">
                <mat-form-field>
                  <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
                  <input formControlName="login" matInput placeholder=
                  "{{stringService.get('LOGIN_FIELD_TITLE')}}"/>
                </mat-form-field>
                <mat-form-field>
                  <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
                  <input type="password" formControlName="password" matInput placeholder=
                  "{{stringService.get('PASSWORD')}}"/>
                </mat-form-field>
                <mat-form-field>
                  <mat-error>{{stringService.get('PASSWORD_MISMATCH_ERROR')}}</mat-error>
                  <input type="password" formControlName="passwordConfirm" matInput placeholder=
                  "{{stringService.get('CONFIRM_PASSWORD')}}"/>
                </mat-form-field>
                <button type="submit" class="login-button" color="primary" mat-button>{{stringService.get('SET_PASSWORD_BTN')}}</button>
              </div>
          </form>
        </div>
      </div>
      <div fxFlex="40%"></div>
    </div>
  </div>
</div> -->
