<div class="page-lite login-page">

    <password-header></password-header>

    <div class="page-lite__content">
      <form [formGroup]="passwordForm" (ngSubmit)="submit()" class="login-form">
          <h5>{{stringService.get('RECOVER_PASSWORD_TITLE')}}</h5>
          <div fxLayout="column">
            <md-form-field>
              <md-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</md-error>
              <input type="password" formControlName="password" mdInput placeholder=
              "{{stringService.get('PASSWORD')}}"/>
            </md-form-field>
            <md-form-field>
              <md-error>{{stringService.get('PASSWORD_MISMATCH_ERROR')}}</md-error>
              <input type="password" formControlName="passwordConfirm" mdInput placeholder=
              "{{stringService.get('CONFIRM_PASSWORD')}}"/>
            </md-form-field>
            <button type="submit" class="seed-button" color="primary" md-button>{{stringService.get('SET_PASSWORD_BTN')}}</button>
          </div>
      </form>
    </div>

</div>
