<div fxLayout="column" fxLayoutAlign="center none" class="container">
  <div fxFlex="25%"></div>
  <div fxLayout="row" fxFlex="50%">
    <div fxFlex="40%"></div>
    <div fxFlex="20%">
      <div>
        <form [formGroup]="passwordForm" (ngSubmit)="submit()">
            <h5>{{stringService.get('SET_PASSWORD_TITLE')}}</h5>
            <div fxLayout="column">
              <md-form-field>
                <md-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</md-error>
                <input type="password" formControlName="password" mdInput placeholder=
                "{{stringService.get('PASSWORD')}}"/>
              </md-form-field>
              <md-form-field>
                <md-error>{{stringService.get('PASSWORD_MISMATCH_ERROR')}}</md-error>
                <input type="password" formControlName="passwordConfirm" mdInput placeholder=
                "{{stringService.get('CONFIRM_PASSWORD')}}"/>
              </md-form-field>
              <button type="submit" class="login-button" color="primary" md-button>{{stringService.get('SET_PASSWORD_BTN')}}</button>
            </div>
        </form>
      </div>
    </div>
    <div fxFlex="40%"></div>
  </div>
  <div fxFlex="25%"></div>
</div>
