<div class="standard">
  <button class="standard-button" mat-raised-button [disabled]="!data.goodsRelation" (click)="addStandard()">ДОБАВИТЬ СТАНДАРТ</button>
  <div class="standard__list" *ngFor="let standard of standards">
    <standard-field [standard]="standard" (removed)="onStandardRemoved($event)" (change)="onStandardChange($event)"></standard-field>
  </div>
  <div class="standard-button-link" (click)="addItem()">добавить параметры по контракту</div>
  <tree-product [config]="param"></tree-product>
</div>
