.standard {
  display: block;
  clear:both;
  padding: 40px 20px;
  &-button {
    background-color: #3498DB;
    color: white;
  }

  &-button-link {
    color: #3498DB;
    padding: 20px 0;
    text-decoration-style: dotted;
    text-decoration-line: underline;
  }

  &__list {

  }

  &__options {
    margin: 10px 0;
  }
}
.disabled-link {
  color: #aaa!important;
}
.tree-wrapper, .angular-tree-component {
    overflow: auto;
    height: 200px;
    width: 100%;
}
