<div fxLayout="column" class="main-container">
  <div fxLayout="row" fxFlex="30%" class="header">
    <div fxFlex="45%"></div>
    <i class="header-icon md-light material-icons">face</i>
    <div fxFlex="45%"></div>
  </div>
  <div fxLayout="row" fxFlex="70%">
    <div fxLayout="row" fxFlex="100%">
      <div fxFlex="30%"></div>
      <div fxLayout="column" fxFlex="50%">
        <div fxFlex="0 1 60%" fxFlexOffset="5%">
        <mat-tab-group class="tabs" (selectChange)="setSelectedTab($event)"  >
          <mat-tab label="{{stringService.get('LOGIN_TITLE')}}">
            <div fxLayout="column">
              <form [formGroup]="loginForm" fxFlexOffset="3em" (ngSubmit)="login()">
                <!-- <div fxLayout="column">
                  <mat-form-field fxFlex>
                    <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
                    <input formControlName="login" matInput placeholder=
                    "{{stringService.get('LOGIN_FIELD_TITLE')}}"/>
                  </mat-form-field>
                  <mat-form-field fxFlex>
                    <mat-error>{{stringService.get('WRONG_EMAIL_ERROR')}}</mat-error>
                    <input formControlName="password" type="password" matInput placeholder=
                    "{{stringService.get('PASSWORD')}}"/>
                  </mat-form-field>
                </div> -->
                <button #loginSubmit type="submit" style="visibility: hidden;"></button>
              </form>
            </div>
          </mat-tab>
          <mat-tab label="{{stringService.get('REGISTRATION_TITLE')}}">
            <div fxLayout="column">
            <form [formGroup]="registrationForm" fxFlexOffset="3em" fxLayout="column" (ngSubmit)="registration(user)">
              <div fxLayout="column">
              <mat-form-field fxFlex>
                <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
                <input formControlName="login" matInput placeholder=
                "{{stringService.get('LOGIN_FIELD_TITLE')}}"/>
              </mat-form-field>
              <mat-form-field fxFlex>
                <mat-error>{{stringService.get('WRONG_EMAIL_ERROR')}}</mat-error>
                <input formControlName="email" matInput placeholder=
                "{{stringService.get('EMAIL')}}"/>
              </mat-form-field>
              <!-- <mat-form-field>
                <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
                <input type="password" formControlName="password" matInput placeholder=
                "{{stringService.get('PASSWORD')}}"/>
              </mat-form-field>
              <mat-form-field>
                <mat-error>{{stringService.get('PASSWORD_MISMATCH_ERROR')}}</mat-error>
                <input type="password" formControlName="passwordConfirm" matInput placeholder=
                "{{stringService.get('CONFIRM_PASSWORD')}}"/>
              </mat-form-field> -->
              <button #registrationSubmit type="submit" style="visibility: hidden;"></button>
            </div>
            </form>
          </div>
          </mat-tab>
          <mat-tab label="{{stringService.get('FORGOT_TITLE')}}">
            <div fxLayout="column">
              <form [formGroup]="forgotForm" fxLayout="column" fxFlexOffset="5em">
                <mat-form-field fxFlex>
                  <mat-error>{{stringService.get('WRONG_EMAIL_ERROR')}}</mat-error>
                  <input formControlName="email" matInput placeholder=
                  "{{stringService.get('EMAIL')}}"/>
                </mat-form-field>
                <button #forgotSubmit type="submit" style="visibility: hidden;"></button>
              </form>
            </div>
          </mat-tab>
         </mat-tab-group>
       </div>
         <div fxLayout="column">
           <button class="login-button" fxFlex="0 1 100%" color="primary" mat-button
           (click)="buttonClicked()">{{getButtonTitle()}}</button>
         </div>
       </div>
       <div fxFlex="30%"></div>
     </div>
    </div>
    </div>
    <li *ngFor="let user of users">
      {{user.getTitle()}}
    </li>
