
.tab-container {
  height: 200px;
}
.mat-form-field {
  width: 100%;
}

.field {
  margin-top: 5px;
}

.mat-tab-label {
  min-width: 80px !important;
}
.tabs {
  min-height: 290px;
}
 .header {
   background-color: #3498DB;
 }

 .main-container {
   height: 100%;
 }

 .login-button {
   background-color: #3498DB;
   color: white;
   min-height: 35px;
 }

 .header-icon {
   font-size: 96px;
   margin: auto;
 }
