<div class="protocol">
  <protocol-title [data]="data" [act]="act" [application]="application" (loaded)="titleLoaded()"></protocol-title>
  <protocol-info [data]="data" (loaded)="infoLoaded()"></protocol-info>
  <protocol-params [data]="data" [act]="act" (loaded)="paramsLoaded()"></protocol-params>
  <!-- <direction-title [data]="data"></direction-title> -->
  <!-- <direction-act [data]="data"></direction-act> -->
  <!-- <direction-document [data]="data"></direction-document> -->
  <!-- <direction-params [data]="data"></direction-params> -->
  <!-- <direction-additional [data]="data"></direction-additional> -->
  <!-- <div class="direction__action">
      <button mat-raised-button color="primary" (click)="save()">СОХРАНИТЬ</button>
  </div> -->
</div>
