<div fxLayout="row" class="main-container">
  <div class="left-panel">
    <panel></panel>
  </div>
  <div class="main">
        <div class="main__content-container">
              <div class="toolbar">
                <div class="toolbar__bread">Breadcrumbs</div>
                <div class="toolbar__card">
                  <!--currentUser card will be here-->
                </div>
              </div>
            <div>
              <div style="margin-bottom: 10px;">
                <router-outlet></router-outlet>
              </div>
          </div>

      </div>
  </div>

  </div>
