<div fxLayout="row" class="main-container">
  <div fxFlex="6%" class="left-panel">
    <panel></panel>
  </div>
  <div fxFlex="1 1 94%" fxLayout="column">
    <md-sidenav-container fxFlex="1 1 100%" class="example-sidenav-fab-container">
        <md-sidenav #sidenav mode="side" opened="true" class="side">
            <div fxLayout="column" style="width:100%;">
              <div class="toolbar-2"></div>
              <div #content></div>
            </div>
        </md-sidenav>
        <div fxLayout="row" class="main-container">
          <div fxLayout="column" fxFlex="1 1 100%">
            <div fxLayout="row">
              <div fxLayout="row" fxFlex="grow" class="toolbar">
                <div fxFlex="70%">Breadcrumbs</div>
                <div fxFlex="1 1 30%" fxLayoutAlign="end center">
                  <button type="button" (click)="logout()">Logout</button>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxFlex="1 1 100%">
              <div fxFlex="1 1 100%" fxLayout="column">
                <router-outlet></router-outlet>
              </div>
          </div>
        </div>
      </div>
    </md-sidenav-container>
  </div>

  </div>
