<div fxLayout="row" class="main-container">
  <div class="left-panel">
    <panel></panel>
  </div>
  <div class="main">
    <!-- <md-sidenav-container fxFlex="1 1 100%" class="example-sidenav-fab-container"> -->
        <!-- <md-sidenav #sidenav mode="side" class="side" fxLayout="column">
          <div *ngFor="let menu of menuItems" fxLayout="column" style="width: 100%;">
            <ng-container *ngIf="menu.activator == selectedActivator">
            <div class="toolbar-2"></div>
            <div fxLayout="column">
            <div fxFlex="10%" class="menu-title">{{stringService.get(menu.name)}}</div>
            <div class="menu-box" fxLayout="column" fxFlex="90%">
              <div class="menu-box-item" fxLayout="row" *ngFor="let subMenu of menu.sub" fxFlex="100%" (click)="changeRoute('/main/' + subMenu.link)">
                <!-- <i fxFlex="20%" fxLayoutAlign="center center" class="md-light material-icons">{{subMenu.icon}}</i> -->
                <!-- <md-icon svgIcon="{{subMenu.icon}}"></md-icon>
                <div fxLayoutAlign="start center" fxFlex="80%">{{stringService.get(subMenu.name)}}</div>
              </div>
            </div>
          </div>
        </ng-container>
          </div>
        </md-sidenav> -->
        <!-- <md-sidenav #sidenav mode="side" opened="true" class="side">
            <div fxLayout="column" style="width:100%;">
              <div class="toolbar-2"></div>
              <div #content [innerHtml]="inner"></div>
            </div>
        </md-sidenav> -->
        <div class="main__content-container">
              <div class="toolbar">
                <div class="toolbar__bread">Breadcrumbs</div>
                <div class="toolbar__card">
                  <!--currentUser card will be here-->
                </div>
              </div>
            <div>
              <div style="margin-bottom: 10px;">
                <router-outlet></router-outlet>
              </div>
          </div>

      </div>
    <!-- </md-sidenav-container> -->
  </div>

  </div>
