@import '../../variables';
.main-container {
  min-height: 100%;
}
.main-content-container {
  margin-left: 3em;
  margin-right: 3em;
  //min-height: 100%;
}
.left-panel {
  background-color: $main-blue-color;
}
.toolbar {
  border-bottom: 1px solid #aaa;
  height: 80px !important;
}
.initial {
  display: initial!important;
}

.toolbar-2 {
  //border-bottom: 1px solid #aaa;
  height: 79px !important;
  background-color: $toolbar-color;

}
.example-sidenav-fab-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-fab-container md-sidenav {
  width: 200px;
}
.side {
  background-color: $main-content-color;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
mat-drawer-content {
  height: 5em;
}
.menu-box {
  margin-top: 1em;
}

.menu-title {
  padding-left: 2.5em;
  padding-top:2em;
  color: $menu-title-color;
  font-weight: bold;
}

.menu-box-item {
  padding-left: 2em;
  margin-top: 1em;
  color: $menu-item-icon-color;
}
.menu-box-item > md-icon {
  margin: 0.5em;
  height: 16px;
  width: 16px;
  fill:$menu-item-icon-color;
}
.menu-box-item:hover {
  cursor: pointer;
  background-color: grey;
}
.menu-box-item:active {
  background-color: darkgray;
}
//new
.main {
  width: 100%;
  padding: 0 20px;
}

.toolbar {

  &__bread {
    float: left;
  }
  &__card {
    padding: 20px;
    float: right;
    width: 160px;

    &-content {
      padding-left: 50px;
    }

    &-select {
      padding-top: 0px!important;
      width: 120px!important;
    }

    &-select .mat-select-underline {
      display:none;
    }
  }
  &__card-icon {
    float: left;
  }

}

.photo {
  height: 36px !important;
  width: 36px !important;
}
