.applicant {
  display: block;
  background: #F6F8F8;
  padding: 40px 20px;
  &-collapsable {
    padding-top: 20px;
  }
  &-title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  &__boxes {
    margin-top: 2px;
    margin-bottom: 20px;
  }
  &__place {
      color: #3696D7;
  }
  &__placeholder {
    color: #3696D7;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 11px;
    line-height: 11px;
  }
  &__row {
    clear:both;
  }
  &__left {
    width: 50%;
    float: left;
    &-100 {
      width: 100%;
      float: left;
    }
  }
  &__list {
    padding-left: 10px;

    &-grow {
      width: 100%;
    }
  }
}

i {
    border: solid #546E7A;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 8px;
    margin-bottom: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.cbox {
  display: block;
}
