<div class="applicant">
  <div class="applicant-title" (click)="toggleVisibility()">
    <i class="arrow" [ngClass]="{'right': !visible, 'down': visible}"></i>{{data.applicant? data.applicant.name: ''}}
  </div>
  <div *ngIf="visible" class="applicant-collapsable">
    <div class="applicant__left-100">
      <mat-form-field floatPlaceholder="always" class="applicant__list-grow">
        <mat-placeholder class="applicant__place">{{stringService.get('APPLICATION_APPLICANT_PERSON_NAME')}}</mat-placeholder>
        <input matInput [(ngModel)]="data.applicantName"/>
      </mat-form-field>
    </div>
    <div class="applicant__left">
      <seed-select-field *ngIf="false" code="partner" (change)="changeApplicant($event)" placeholder="Заявитель" [data]="data.applicant"></seed-select-field>
      <seed-select-field code="partner" (change)="changeOwner($event)" [enabled]="!sameOwner" placeholder="Владелец груза" [data]="data.owner"></seed-select-field>
      <seed-select-field code="partner" (change)="changeReciver($event)" [enabled]="!sameReciver" placeholder="Получатель документов" [data]="data.reciver"></seed-select-field>
    </div>
    <div class="applicant__left">
        <div class="applicant__placeholder">Заявитель является:</div>
        <mat-checkbox class="cbox" style="padding-top: 5px;" color="primary" [ngModel]="sameOwner" (change)="sameOwnerChange($event)">владельцем груза</mat-checkbox>
        <mat-checkbox class="cbox" style="padding-top: 35px;" color="primary" [ngModel]="sameReciver" (change)="sameReciverChange($event)">получателем документов</mat-checkbox>
    </div>
    <div style="clear:both;"></div>
  </div>
    <!-- <div class="applicant__left">
      <seed-select-field code="partner" placeholder="Получатель документов" [data]="data"></seed-select-field>
    </div> -->
</div>
