<div class="application">
  <application-title [data]="data"></application-title>
  <application-applicant [data]="data"></application-applicant>
  <application-params [data]="data"></application-params>
  <application-product [data]="data"></application-product>
  <application-standard [data]="data"></application-standard>
  <application-developer [data]="data"></application-developer>
  <application-reciver [data]="data"></application-reciver>
  <application-group [data]="data"></application-group>
  <div class="application__action" *ngIf="!data.id">
      <button mat-raised-button color="primary" (click)="save()">СОХРАНИТЬ</button>
  </div>
</div>
