<div class="act">
  <act-title [data]="data"></act-title>
  <act-info [data]="data"></act-info>
  <act-contactor [data]="data"></act-contactor>
  <act-product [data]="data"></act-product>
  <act-transportation [data]="data"></act-transportation>
  <act-proof [data]="data"></act-proof>
  <act-weight [data]="data"></act-weight>
  <act-place [data]="data"></act-place>
  <act-quality [data]="data"></act-quality>
  <act-stamp [data]="data"></act-stamp>
  <act-additional [data]="data"></act-additional>
  <!-- <application-applicant [data]="data"></application-applicant>
  <application-params [data]="data"></application-params>
  <application-product [data]="data"></application-product>
  <application-standard [data]="data"></application-standard>
  <application-developer [data]="data"></application-developer>
  <application-reciver [data]="data"></application-reciver>
  <application-group [data]="data"></application-group> -->
  <div class="act__action">
      <button mat-raised-button color="primary" (click)="save()">СОХРАНИТЬ</button>
  </div>
</div>
