<h2 matDialogTitle>Товары и услуги</h2>
<mat-dialog-content style="min-width: 600px; height: 600px;">
  <mat-form-field style="width: 100%">
    <mat-select [ngModel]="pricelistType" (change)="onPricelistTypeChange($event)">
      <mat-option *ngFor="let opt of pricelistTypeList" [value]="opt.id">{{opt.shortName}}</mat-option>
    </mat-select>
  </mat-form-field>
      <mat-form-field *ngIf="false">
        <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
        <input matInput #nameFilter placeholder="{{stringService.get('FILTER_NAME')}}" (keyup)="addNameFilterTree(nameFilter.value)" />
      </mat-form-field>
      <mat-spinner style="margin: 0 auto;" *ngIf="!loaded"></mat-spinner>
        <div *ngIf="loaded" class="wrapper">
          <tree-root [options]="options" [nodes]="listToView">
            <ng-template #treeNodeTemplate let-node let-index="index">
              <div (click)="select(node)">{{node.data.name}}</div>
            </ng-template>
          </tree-root>
        </div>
</mat-dialog-content>
