.developer {
  clear:both;
  display: block;
  background: #F6F8F8;
  padding: 40px 20px;
  &-button {
    background-color: #3498DB;
    color: white;
  }
  &__field {
    width: 100%;
  }
  &__place {
      color: #3696D7;
  }
}
