.product {
  background: #F6F8F8;
  display: block;
  padding: 60px 40px;
  margin: 0 -20px;
  &__column-40 {
    float: left;
    width: 40%;
  }
  &__column {
    &-second {
      float: left;
      width: 48%;
      padding-left: 4%;
    }
    float: left;
    width: 48%;
    &-place {
        color: #3696D7;
    }
    &-field {
      width: 100%;
      &-100 {
        width:100%;
      }
      &-40 {
        width:40%;
      }
    }
  }
}
