<div class="product">
  <div class="product__column">
    <seed-select-field required="true" code="product" placeholder="{{stringService.get('APPLICATION_PRODUCT_TITLE')}}" [data]="data.goods" (change)="selectProduct($event)"></seed-select-field>
    <mat-form-field class="product__column-field-100" floatPlaceholder="always">
      <mat-placeholder class="product__column-place">{{stringService.get('APPLICATION_PRODUCT_NAME')}}</mat-placeholder>
      <input matInput [(ngModel)]="data.goodsName"/>
    </mat-form-field>
  </div>

  <div class="product__column-second">
    <mat-form-field class="product__column-field" floatPlaceholder="always">
        <mat-placeholder class="product__column-place">{{stringService.get('APPLICATION_PRODUCT_CODE')}}</mat-placeholder>
      <input matInput [(ngModel)]="data.goodsTNVD"/>
    </mat-form-field>
    <div>
      <div class="product__column-40" style="padding-right:10px;">
        <mat-form-field class="product__column-field" floatPlaceholder="always">
            <mat-placeholder class="product__column-place">{{stringService.get('APPLICATION_GROUP_DATE')}}</mat-placeholder>
          <input matInput [matDatepicker]="myDatepicker1" [ngModel]="date" (dateChange)="onDateChange($event)"/>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="product__column-40" style="float:right;">
        <mat-form-field class="product__column-field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <mat-placeholder class="product__column-place">{{stringService.get('APPLICATION_GROUP_WEIGHT')}}</mat-placeholder>
          <input matInput type="number" required [formControl]="weightControl" [(ngModel)]="data.goodsWeight"/>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div style="clear: both;"></div>

</div>
