<div class="application">
  <!-- <div class="application__action">
      <button mat-raised-button color="primary" (click)="addAct()">ДОБАВИТЬ АКТ</button>
  </div> -->
  <div *ngIf="signList.length > 0">
    <div>
      Подписан:
    </div>
    <div style="padding-left: 20px;" *ngFor="let sign of signList">
      {{sign.signerName}}
    </div>
  </div>

  <div>
    <div>
      Заявка номер: {{data.number}}
    </div>
    <div>
      Создана: {{data.creationDate}}
    </div>
    <div>
      Продукт: {{data.goodsName}}
    </div>
  </div>
  <div class="text-title">Список актов отбора проб</div>
  <ng-container *ngFor="let act of actList">
    <div style=" cursor: pointer; padding: 20px 20px; border-bottom: 1px solid #aaa;">
      <div style="float:left; width:80%;" (click)="openAct(act.id)">
        {{act.sampleNumber}}
      </div>

      <div style="float:right;">
        <mat-icon matTooltip="Удалить" matTooltipPosition="above" (click)="removeAct(act)">delete</mat-icon>
      </div>
      <div style="float:right;">
        <mat-icon matTooltip="Редактировать" matTooltipPosition="above"  (click)="openAct(act.id)">edit</mat-icon>
      </div>
      <div style="float:right;">
        <mat-icon matTooltip="Добавить направление" matTooltipPosition="above" (click)="addDirection(act)">forward</mat-icon>
      </div>
      <div style="float:right;">
        <mat-icon matTooltip="Добавить протокол испытаний" matTooltipPosition="above" (click)="addProtocol(act)">chat</mat-icon>
      </div>
      <div style="float:right;">
        <mat-icon matTooltip="Добавить сертификат" matTooltipPosition="above" (click)="addCertificate(act)">assignment</mat-icon>
      </div>
      <div style="float:right;">
        <mat-icon matTooltip="Сгенерировать PDF" matTooltipPosition="above" (click)="createPdfReport(act)">assignment_returned</mat-icon>
      </div>
      <div *ngIf="actSign[act.id] && actSign[act.id].length > 0">
        <div>Подписан:</div>
        <div style="padding-left: 20px;" *ngFor="let sign of actSign[act.id]">{{sign.signerName}}</div>
      </div>

    </div>

  </ng-container>

  <div class="text-title">Список направлений</div>
  <ng-container *ngFor="let assignment of assignmentList">
    <div style=" cursor: pointer; padding: 20px 20px; border-bottom: 1px solid #aaa;">
      <div style="float:left; width:90%;" (click)="openAssignment(act.id)">
        {{assignment.number}}
      </div>

      <div style="float:right;">
        <mat-icon matTooltip="Добавить карточку анализа" matTooltipPosition="above" (click)="addAnalysisCard(assignment)">assignment</mat-icon>
      </div>
      <div style="float:right;">
        <mat-icon matTooltip="Удалить" matTooltipPosition="above"  (click)="removeAssignment(assignment)">delete</mat-icon>
      </div>
      <div style="float:right;">
        <mat-icon  matTooltip="Редактировать" matTooltipPosition="above" (click)="openAssignment(assignment.id)">edit</mat-icon>
      </div>
      <div *ngIf="assignmentSign[assignment.id] && assignmentSign[assignment.id].length > 0">
        <div>Подписан:</div>
        <div style="padding-left: 20px;" *ngFor="let sign of assignmentSign[assignment.id]">{{sign.signerName}}</div>
      </div>
    </div>

  </ng-container>

  <div class="text-title">Список протоколов</div>
  <ng-container *ngFor="let protocol of protocolList">
    <div style=" cursor: pointer; padding: 20px 20px; border-bottom: 1px solid #aaa;">
      <div style="float:left; width:90%;" (click)="openProtocol(protocol.id)">
        {{protocol.protocolNumber}}
      </div>

      <div style="float:right;">
        <mat-icon matTooltip="Удалить" matTooltipPosition="above"  (click)="removeProtocol(protocol)">delete</mat-icon>
      </div>
      <div style="float:right;">
        <mat-icon  matTooltip="Редактировать" matTooltipPosition="above" (click)="openProtocol(protocol.id)">edit</mat-icon>
      </div>
      <div *ngIf="protocolSign[protocol.id] && protocolSign[protocol.id].length > 0">
        <div>Подписан:</div>
        <div style="padding-left: 20px;" *ngFor="let sign of protocolSign[protocol.id]">{{sign.signerName}}</div>
      </div>
    </div>

  </ng-container>

  <div class="text-title">Список сертификатов</div>
  <ng-container *ngFor="let certificate of certificateList">
    <div style=" cursor: pointer; padding: 20px 20px; border-bottom: 1px solid #aaa;">
      <div style="float:left; width:90%;" (click)="openCertificate(certificate.id)">
        {{certificate.certificateNumber}}
      </div>

      <div style="float:right;">
        <mat-icon matTooltip="Удалить" matTooltipPosition="above"  (click)="removeCertificate(certificate)">delete</mat-icon>
      </div>
      <div style="float:right;">
        <mat-icon  matTooltip="Редактировать" matTooltipPosition="above" (click)="openCertificate(certificate.id)">edit</mat-icon>
      </div>
      <div *ngIf="certificateSign[certificate.id] && certificateSign[certificate.id].length > 0">
        <div>Подписан:</div>
        <div style="padding-left: 20px;" *ngFor="let sign of certificateSign[certificate.id]">{{sign.signerName}}</div>
      </div>
    </div>

  </ng-container>

  <div class="text-title">Список карточек анализа</div>
  <ng-container *ngFor="let analysisCard of analysisCardList">
    <div style=" cursor: pointer; padding: 20px 20px; border-bottom: 1px solid #aaa;">
      <div style="float:left; width:90%;" (click)="openAnalysisCard(analysisCard.id)">
        {{analysisCard.id}}
      </div>

      <div style="float:right;">
        <mat-icon matTooltip="Удалить" matTooltipPosition="above"  (click)="removeAnalysisCard(analysisCard)">delete</mat-icon>
      </div>
      <div style="float:right;">
        <mat-icon  matTooltip="Редактировать" matTooltipPosition="above" (click)="openAnalysisCard(analysisCard.id)">edit</mat-icon>
      </div>
      <div *ngIf="analysisCardSign[analysisCard.id] && analysisCardSign[analysisCard.id].length > 0">
        <div>Подписан:</div>
        <div style="padding-left: 20px;" *ngFor="let sign of analysisCardSign[analysisCard.id]">{{sign.signerName}}</div>
      </div>
    </div>

  </ng-container>

</div>
