<div class="group">
  <div class="group__content" style="padding-top: 20px;">
    <div class="title-text">Карточка анализа крупы</div>
    <div class="group__content" style="padding-top: 20px;">
        <div class="group__content-first-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <mat-placeholder class="group__placeholder">Номер документа</mat-placeholder>
            <input required matInput [ngModel]="number" (keyup)="onNumberChange($event)"/>
          </mat-form-field>
        </div>
        <div class="group__content-second-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <mat-placeholder class="group__placeholder">Дата</mat-placeholder>
            <input required matInput [matDatepicker]="myDatepicker" [ngModel]="date" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div style="clear:both;"></div>
        <div class="sub-group sub-group__back">
    <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">Наименование</mat-placeholder>
          <input readonly="true" matInput [(ngModel)]="data.goods.fullNameRu"/>
        </mat-form-field>
    </div>

      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">Нормативный документ</mat-placeholder>
          <input readonly="true" matInput [(ngModel)]="standards"/>
        </mat-form-field>
      </div>

      <div class="group__content-first-column">
          <seed-select-field placeholder="Сорт" code="goodsCategory" [standards]="data.standards" type="3" [data]="typeGoodsCategory" (change)="onTypeGoodsCategoryChange($event)"></seed-select-field>
      </div>

      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Pr_904')}}</mat-placeholder>
          <input matInput [ngModel]="type" (keyup)="onTypeChange($event)"/>
        </mat-form-field>
      </div>

      <!-- <div class="group__content-second-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <mat-placeholder class="group__placeholder">Подтип</mat-placeholder>
            <input matInput [ngModel]="subType" (keyup)="onSubTypeChange($event)"/>
          </mat-form-field>
      </div> -->

      <!-- <div class="group__content-full-width">
        <div class="group__content-first-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <span matSuffix>{{getPropertyUnitByCode('TestWeight')}}</span>
            <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('TestWeight')}}</mat-placeholder>
            <input matInput readonly="true" [ngModel]="testWeight" (keyup)="onTestWeightChange($event)"/>
          </mat-form-field>
        </div>
        <div class="group__content-second-column">
          <div class="group__content-first-column">
            <mat-form-field class="group__field" floatPlaceholder="always">
              <mat-error>Обязательное поле</mat-error>
              <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('TestWeight', 'FIRST_DEFINITION')}}</mat-placeholder>
              <input matInput [ngModel]="testWeightFirst" (keyup)="onTestWeightFirstChange($event)"/>
            </mat-form-field>
          </div>
          <div class="group__content-second-column">
            <mat-form-field class="group__field" floatPlaceholder="always">
              <mat-error>Обязательное поле</mat-error>
              <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('TestWeight', 'SECOND_DEFINITION')}}</mat-placeholder>
              <input matInput [ngModel]="testWeightSecond" (keyup)="onTestWeightSecondChange($event)"/>
            </mat-form-field>
          </div>
        </div>
      </div> -->


      <!-- <div class="group__content-full-width">
        <div class="group__content-first-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <span matSuffix>{{getPropertyUnitByCode('FallingNumber')}}</span>
            <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('FallingNumber')}}</mat-placeholder>
            <input matInput readonly="true" [ngModel]="fallingNumber" (keyup)="onFallingNumberChange($event)"/>
          </mat-form-field>
        </div>
        <div class="group__content-second-column">
          <div class="group__content-first-column">
            <mat-form-field class="group__field" floatPlaceholder="always">
              <mat-error>Обязательное поле</mat-error>
              <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('FallingNumber', 'FIRST_DEFINITION')}}</mat-placeholder>
              <input matInput [ngModel]="fallingNumberFirst" (keyup)="onFallingNumberFirstChange($event)"/>
            </mat-form-field>
          </div>
          <div class="group__content-second-column">
            <mat-form-field class="group__field" floatPlaceholder="always">
              <mat-error>Обязательное поле</mat-error>
              <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('FallingNumber', 'SECOND_DEFINITION')}}</mat-placeholder>
              <input matInput [ngModel]="fallingNumberSecond" (keyup)="onFallingNumberSecondChange($event)"/>
            </mat-form-field>
          </div>
        </div>
      </div> -->


    <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Colour')}}</mat-placeholder>
          <input matInput [ngModel]="color" (keyup)="onColorChange($event)"/>
        </mat-form-field>
    </div>

    <div class="group__content-second-column">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Smell')}}</mat-placeholder>
        <input matInput [ngModel]="smell" (keyup)="onSmellChange($event)"/>
      </mat-form-field>
    </div>

    <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Moisture')}}</mat-placeholder>
          <input matInput type="number" [ngModel]="moisture| number: getPropertyPrecisionByCode('Moisture')" (change)="onMoistureChange($event)"/>
          <span matSuffix>{{getPropertyUnitByCode('Moisture')}}</span>
        </mat-form-field>
    </div>

    <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Taste')}}</mat-placeholder>
          <input matInput [ngModel]="taste" (keyup)="onTasteChange($event)"/>
        </mat-form-field>
    </div>

    <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">Масса навески</mat-placeholder>
          <input matInput type="number" [ngModel]="portionWeight| number:'1.2-2'" (change)="onPortionWeightChange($event)"/>
          <span matSuffix>г</span>
        </mat-form-field>
    </div>
    <div style="clear:both;"></div>
</div>

    <div class="group__content-full-width" *ngIf="agrestalAdmixture">
      <analysis-property-tree [portion]="portionWeight" [data]="agrestalAdmixture" (dataChange)="onAgrestalAdmixtureChange($event)"></analysis-property-tree>
    </div>

    <div class="group__content-full-width" *ngIf="soundKernels">
      <analysis-property-tree [isKernel]="true" [portion]="portionWeight" [data]="soundKernels" (dataChange)="onSoundKernelsChange($event)"></analysis-property-tree>
    </div>
    <div style="clear:both;"></div>
    <div class="sub-group sub-group__back">
    <div class="group__content-full-width">
      <button mat-raised-button color="primary" style="margin: 20px 20px;" (click)="addSito('PassSieves')">+ Проход сита</button>
      <div class="group__content-full-width" *ngFor="let sieve of passSievesList">
        <sieve [data]="sieve" (onRemove)="removePassSieves($event)"></sieve>
      </div>
    </div>

    <div class="group__content-full-width">
      <button mat-raised-button color="primary"  style="margin: 20px 20px;" (click)="addSito('RemainderOnSieve')">+ Остаток на сите</button>
      <div class="group__content-full-width" *ngFor="let sieve of remainderOnSieveList">
        <sieve [data]="sieve" (onRemove)="removeReminderSieves($event)"></sieve>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div class="sub-group">
    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('MetallicImpurity')}}</mat-placeholder>
          <span matSuffix>{{getPropertyUnitByCode('MetallicImpurity')}}</span>
          <input matInput type="number" [ngModel]="metallicImpurity| number: getPropertyPrecisionByCode('MetallicImpurity')" (change)="onMetallicImpurityChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('MetallicImpurity', 'SIZE')}}</mat-placeholder>
          <span matSuffix>мм</span>
          <input matInput type="number" [ngModel]="metallicImpuritySize| number: getPropertyPrecisionByCode('MetallicImpurity')" (change)="onMetallicImpuritySizeChange($event)"/>
        </mat-form-field>
      </div>
    </div>

    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('InsectInfestation')}}</mat-placeholder>
          <span matSuffix>{{getPropertyUnitByCode('InsectInfestation')}}</span>
          <input matInput type="number" [ngModel]="insectInfestation| number: getPropertyPrecisionByCode('InsectInfestation')" (change)="onInsectInfestationChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('InsectInfestation', 'TEXT')}}</mat-placeholder>
          <span matSuffix></span>
          <input matInput [ngModel]="insectInfestationText" (keyup)="onInsectInfestationTextChange($event)"/>
        </mat-form-field>
      </div>
    </div>

    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('DeadInsectInfestation')}}</mat-placeholder>
          <span matSuffix>{{getPropertyUnitByCode('DeadInsectInfestation')}}</span>
          <input matInput type="number" [ngModel]="deadInsectInfestation| number: getPropertyPrecisionByCode('DeadInsectInfestation')" (change)="onDeadInsectInfestationChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('DeadInsectInfestation', 'TEXT')}}</mat-placeholder>
          <span matSuffix></span>
          <input matInput [ngModel]="deadInsectInfestationText" (keyup)="onDeadInsectInfestationTextChange($event)"/>
        </mat-form-field>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>

</div>
<div style="clear:both;"></div>
</div>
