<div class="group group__back">

    <div class="group__content">
      <div class="group__content-first-column">
        <div class="group__content-first-column" style="padding-bottom: 20px;">
          <mat-checkbox class="cbox" color="primary" [ngModel]="stamp" (change)="stampChange($event)">опечатаны печатью</mat-checkbox>
        </div>
        <div class="group__content-second-column" style="padding-bottom: 20px;">
          <mat-checkbox class="cbox" color="primary"  [ngModel]="seal" (change)="sealChange($event)">опечатаны пломбой</mat-checkbox>
        </div>
        <seed-select-field code="laboratory" (change)="onLaboratoryChange($event)" [data]="data.analyzingLaboratory" placeholder="Направляются в лабораторию"></seed-select-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field floatPlaceholder="always" class="group__field">
          <mat-placeholder class="group__placeholder">Чья печать</mat-placeholder>
          <input matInput [(ngModel)]="data.sealOwner"/>
        </mat-form-field>
      </div>
    <div style="clear: both;"></div>
  </div>
  <div style="clear: both;"></div>
</div>
