$primary-font: "Roboto", "Helvetica", "Arial", sans-serif;
$break-small: 320px;
$break-mobile: 800px;
$break-large: 1200px;
$logo-back-color: #0277BD;
$main-blue-color: #0288D1;
$toolbar-color: #ECEFF1;
$main-content-color: #F5F5F5;
$menu-item-icon-color: #90A4AE;
$menu-title-color: #546E7A;
$main-text-color: #78909C;
