/* styles.css will be extracted to main dist folder and is imported in index.html */
/* This file is for importing 3rd party styles  */

@import 'variables';

@import '@angular/material/theming';
// @import '~angular-tree-component/dist/angular-tree-component.css';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);
// $button-primary-color-alt:  unquote("rgb(#{$palette-light-blue-700})");
// $button-hover-color-alt: unquote("rgb(#{$palette-light-blue-900})");
// $button-active-color-alt: unquote("rgb(#{$palette-light-blue-900})");
// $button-focus-color-alt: unquote("rgb(#{$palette-light-blue-900})");

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

@media only screen and (min-width: 800px) {
  md-sidenav.mat-sidenav-opened, md-sidenav.mat-sidenav-opening {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.08),0px 1px 1px 0px rgba(0, 0, 0, 0.07),0px 1px 3px 0px rgba(0, 0, 0, 0.14) !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

pre {
  font-family: $primary-font;
  font-size: 14px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/**
  * Basic styles from Material Design Lite for HTML elements
  */
  h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-family: $primary-font;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  opacity: 0.54;
  font-size: 0.6em; }

h1 {
  font-family: $primary-font;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px; }

h2 {
  font-family: $primary-font;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px; }

h3 {
  font-family: $primary-font;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 24px; }

h4 {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 24px;
  margin-bottom: 16px; }

h5 {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 16px; }

h6 {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-top: 24px;
  margin-bottom: 16px; }

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 0; }

a {
  font-weight: 500; }

blockquote {
  font-family: $primary-font;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.35;
  letter-spacing: 0.08em; }
  blockquote:before {
    position: absolute;
    left: -0.5em;
    content: '“'; }
  blockquote:after {
    content: '”';
    margin-left: -0.05em; }

mark {
  background-color: #f4ff81; }

dt {
  font-weight: 700; }

address {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  font-style: normal; }

ul, ol {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0; }

  //new

  @font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icomoon.eot?vw3xt7');
    src:  url('assets/fonts/icomoon.eot?vw3xt7#iefix') format('embedded-opentype'),
      url('assets/fonts/icomoon.ttf?vw3xt7') format('truetype'),
      url('assets/fonts/icomoon.woff?vw3xt7') format('woff'),
      url('assets/fonts/icomoon.svg?vw3xt7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-icon_arrow-down:before {
    content: "\e90e";
  }
  .icon-icon_logo-small:before {
    content: "\e90d";
  }
  .icon-icon_agent:before {
    content: "\e900";
  }
  .icon-icon_docs:before {
    content: "\e901";
  }
  .icon-icon_files:before {
    content: "\e902";
  }
  .icon-icon_location:before {
    content: "\e903";
  }
  .icon-icon_logo:before {
    content: "\e904";
  }
  .icon-icon_logout:before {
    content: "\e905";
  }
  .icon-icon_photo .path1:before {
    content: "\e906";
    color: rgb(231, 236, 237);
  }
  .icon-icon_photo .path2:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(85, 96, 128);
  }
  .icon-icon_role:before {
    content: "\e908";
  }
  .icon-icon_settings:before {
    content: "\e909";
  }
  .icon-icon_task:before {
    content: "\e90a";
  }
  .icon-icon_taxonomy:before {
    content: "\e90b";
  }
  .icon-icon_user:before {
    content: "\e90c";
  }
  tree-viewport {
    overflow: visible!important;
  }
.wrapper-tree .angular-tree-component {
  height: 200px;
  width: 100%;
  overflow: auto;
}

.wrapper-tree-custom tree-node-expander {
  padding-top: 20px;
}
.wrapper-tree-custom .node-content-wrapper {
  width: 100%;
}
.cbox .mat-checkbox-inner-container {
  height: 15px;
  width: 15px;
}

.check .mat-checkbox-inner-container {
  height: 15px;
  width: 15px;
}
 // .tree-wrapper {
 //    overflow: auto;
 //  }
 //  .angular-tree-component {
 //    height: 200px;
 //  }
