@import '../../variables';

 .nav {
     width: 80px;
     color: #fff;
     float: left;
     height: 100%;
     background: #0288D1;

     &__logo {
       height: 80px;
       background: #0277BD;
       font-size: 48px;
       line-height: 80px;
       text-align: center;
     }

     &__bar {
       padding: 20px 0;
     }
 }

 .nav-bar {

   &__item {
       font-size: 30px;
       line-height: 80px;
       text-align: center;
       cursor: pointer;

       .icon-icon_logout {

       }
   }

   &__bottom {
     position: fixed;
     bottom: 0;
   }
   &__filler {

   }

 }
.nav-bar__item i {
  padding: 25px 25px;
}
.nav-bar__item :hover{
  background: #0277BD;
}
 .context {
     width: 280px;
     margin-left: 80px;
     height: 100%;
     background: #F5F5F5; /* gray 100 */
 }
 .context__branch-content {
   float:left;
   width: 80%;
   //padding: 20px 20px;
   padding-top: 20px;
   padding-left: 20px;
   padding-bottom: 20px;

   //text-align: center;
 }
 .context__branch {
     position: relative;

     height: 80px;
     font-weight: bold;
     font-size: 14px;
     color: #546E7A; /* blue gray 600 */
     background: #ECEFF1; /* blue gray 50 */
 }
 // .context__branch:after {
 //     content: "\e90e";
 //     font-family: 'icomoon' !important;
 //     speak: none;
 //     font-style: normal;
 //     font-weight: normal;
 //     font-variant: normal;
 //     text-transform: none;
 //     line-height: 1;
 //
 //     /* Better Font Rendering =========== */
 //     -webkit-font-smoothing: antialiased;
 //     -moz-osx-font-smoothing: grayscale;
 //
 //     position: absolute;
 //     top: 30px;
 //     right: 20px;
 // }
 .context__branch-icon {
   float: left;
   width: 1%;
   cursor: pointer;
   padding-top: 20px;
   padding-right: 20px;
  // padding: 20px 5px;
   //content: "\e90e";
   //font-family: 'icomoon' !important;
   //speak: none;
   //font-style: normal;
   //font-weight: normal;
   //font-variant: normal;
   //text-transform: none;
   //line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   // position: absolute;
   // top: 20px;
   // right: 20px;
 }
 .context__links {
     padding: 40px 0px 20px 0px;
     color: #546E7A; /* blue gray 600 */
 }

 .context-link {
     padding: 10px 20px 10px 40px;
     cursor: pointer;
 }
 .context-action {
     padding: 10px 20px 10px 40px;

     &-label {
       float:left;
     }
 }
 .context-action-btn {
     float: left;
     background-color: #29BB9C;
     color:white;
     text-align: center;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     cursor: pointer;
     margin: 0px 20px;
     line-height: 22px;
     font-size: 24px;
 }
 .context-link:hover {
     background: #ECEFF1; /* blue gray 50 */
 }
 .context-link__icon {
     width: 24px;
     display: inline-block;
 }
