<div>
  <color-toggle [value]="config.data.state" (onChange)="onStateChanged($event)"></color-toggle>
  <mat-form-field class="short-field">
    <input matInput [(ngModel)]="config.data.name"/>
  </mat-form-field>
  <mat-form-field class="short-field">
    <mat-select [(ngModel)]="config.data.option" matSelect>
      <mat-option *ngFor="let opt of options" [value]="opt.value">
        {{opt.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="isValue()">
    <mat-form-field class="short-field-extra">
      <input matInput placeholder="не менее" [(ngModel)]="config.data.min"/>
    </mat-form-field>
    <mat-form-field class="short-field-extra" >
      <input matInput placeholder="не более" [(ngModel)]="config.data.max"/>
    </mat-form-field>
  </ng-container>
  <mat-form-field class="short-field">
    <input matInput placeholder="Текст" [(ngModel)]="config.data.text"/>
  </mat-form-field>
  <mat-icon (click)="removeItem()">close</mat-icon>
</div>
