.params {
  padding: 60px 20px;
  display: block;
  &-placeholder {
      color: #3696D7;
  }
  &__column {
    float: left;
    width: 50%;
    &-item {
      width: 90%;
    }
  }
}

.check {
  display: block;
}

.check-group {
  padding-top: 8px;
}
