.params {
  padding: 60px 20px;
  display: block;
  &-placeholder {
      color: #3696D7;
  }
  &__column {
    &-second {
      float: left;
      width: 48%;
      padding-left: 4%
    }
    float: left;
    width: 48%;
    &-item {
      width: 100%;
    }
  }
}

.check {
  display: block;
}

.check-group {
  padding-top: 8px;
}
