<div class="params">
  <div class="params__column">
    <mat-form-field class="params__column-item" floatPlaceholder="always">
      <mat-placeholder class="params-placeholder" >{{stringService.get('APPLICATION_PARAMS_DOCUMNETS')}}</mat-placeholder>
      <mat-select #resDocuments multiple [ngModel]="stateTargetDocuments" (change)="onTartgetDocumentsChange($event)">
        <mat-option #resOptions *ngFor="let opt of options" [value]="opt.id">
          {{opt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="params__column-item" floatPlaceholder="always">
      <mat-placeholder class="params-placeholder" >{{stringService.get('APPLICATION_PARAMS_RESEARCH_TYPE')}}</mat-placeholder>
      <mat-select [ngModel]="stateResearchType" (change)="onResearchTypeChange($event)">
        <ng-container *ngFor="let opt of researchTypeOptions">

          <mat-option [value]="opt.id">
            {{opt.name}}
          </mat-option>
          <mat-option style="padding-left: 40px;" *ngFor="let subOpt of opt.children" [value]="subOpt.id">
            {{opt.name + ' ' + subOpt.name}}
          </mat-option>

        </ng-container>


      </mat-select>
    </mat-form-field>
  </div>
  <div class="params__column">
    <div class="check-group">
    <mat-checkbox [(ngModel)]="data.isSampleSelectionRequired" color="primary" class="check">{{stringService.get('APPLICATION_PARAMS_EXAMPLE')}}</mat-checkbox>
    <mat-checkbox [(ngModel)]="data.isAnalysisCardRequired" color="primary" class="check">{{stringService.get('APPLICATION_PARAMS_ANALYSIS')}}</mat-checkbox>
    <mat-checkbox [(ngModel)]="data.isQuickCertificationRequired" color="primary" class="check">{{stringService.get('APPLICATION_PARAMS_FAST')}}</mat-checkbox>
    <mat-checkbox [(ngModel)]="data.isFreeCertificationRequired" color="primary" class="check">{{stringService.get('APPLICATION_PARAMS_FREE')}}</mat-checkbox>
  </div>
  </div>
  <div style="clear:both;"></div>
</div>
