.row-item {
  margin-left: 10px;
  margin-right: 10px;
}
.mat-form-field {
  width: 100%;
}
.header {
  height: 10em;
}

.save-button {
  background-color: #3498DB;
  color: white;
  min-height: 35px;
  max-width: 200px;
}

.save-button:disabled {
  background-color: gray;
}
.butt-padding {
  height: 36px;
  margin-top: 10px;
}
.remove-button {
  background-color: red;
  color: white;
  min-height: 35px;
  max-width: 200px;
}
.pad-bot {
  padding-bottom: 1.25em;
}
//new
.header {
  padding: 20px 0;
  &__card {
    float: left;
    width: 50%;
  }
  &__buttons {
    float: left;
    width: 50%;
    padding-top: 40px;
    &-item {
      width: 40%;
    }
  }
}

.content {
  width: 100%;
  &__line {
    width: 100%;
    &-reset {
      margin-left: 20px;
    }
    &-30 {
      float: left;
      width: 30%;
      &-padding {
        float: left;
        width: 30%;
        padding-left: 5%;
      }
    }
    &-100 {
      float:left;
      width: 100%;
    }
    &-50 {
      float:left;
      width: 50%;
    }
  }
}
