<div class="group">
  <div class="group__content" style="padding-top: 20px;">
    <div class="title-text">Карточка анализа комбикорма</div>
    <div class="group__content" style="padding-top: 20px;">
        <div class="group__content-first-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <mat-placeholder class="group__placeholder">Номер документа</mat-placeholder>
            <input required matInput [ngModel]="number" (keyup)="onNumberChange($event)"/>
          </mat-form-field>
        </div>
        <div class="group__content-second-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <mat-placeholder class="group__placeholder">Дата</mat-placeholder>
            <input required matInput [matDatepicker]="myDatepicker" [ngModel]="date" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div style="clear:both;"></div>
    <div class="sub-group sub-group__back">
    <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">Наименование</mat-placeholder>
          <input readonly="true" matInput [(ngModel)]="data.goods.fullNameRu"/>
        </mat-form-field>
    </div>

      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">Нормативный документ</mat-placeholder>
          <input readonly="true" matInput [(ngModel)]="standards"/>
        </mat-form-field>
      </div>

      <div class="group__content-first-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <mat-placeholder class="group__placeholder">Рецепт</mat-placeholder>
            <input matInput [ngModel]="recipe" (keyup)="onRecipeChange($event)"/>
          </mat-form-field>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="sub-group">
    <div class="group__content-first-column">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('OutwardAppearance')}}</mat-placeholder>
        <input matInput [ngModel]="outwardAppearance" (keyup)="onOutwardAppearanceChange($event)"/>
      </mat-form-field>
    </div>

    <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Colour')}}</mat-placeholder>
          <input matInput [ngModel]="color" (keyup)="onColorChange($event)"/>
        </mat-form-field>
    </div>

    <div class="group__content-first-column">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Smell')}}</mat-placeholder>
        <input matInput [ngModel]="smell" (keyup)="onSmellChange($event)"/>
      </mat-form-field>
    </div>

    <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Moisture')}}</mat-placeholder>
          <input matInput  type="number" [ngModel]="moisture | number:getPropertyPrecisionByCode('Moisture')"   (change)="onMoistureChange($event)"/>
          <span matSuffix>{{getPropertyUnitByCode('Moisture')}}</span>
        </mat-form-field>
    </div>
    <div style="clear: both;"></div>
  </div>
    <div class="sub-group sub-group__back">
    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('PassSieves')}}</mat-placeholder>
          <input matInput [ngModel]="passSievesAdditional" (keyup)="onPassSievesAdditionalChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder"></mat-placeholder>
          <span matSuffix>{{getPropertyUnitByCode('PassSieves')}}</span>
          <input matInput type="number" [ngModel]="passSieves | number:getPropertyPrecisionByCode('PassSieves')" (change)="onPassSievesChange($event)"/>
        </mat-form-field>
      </div>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
            <span matSuffix>г</span>
          <mat-placeholder class="group__placeholder">Навеска</mat-placeholder>
          <input matInput type="number" [ngModel]="passSievesNumber | number:getPropertyPrecisionByCode('PassSieves')" (change)="onPassSievesNumberChange($event)"/>
        </mat-form-field>
      </div>
    </div>

    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('RemainderOnSieve')}}</mat-placeholder>
          <input matInput [ngModel]="remainderOnSieveAdditional" (keyup)="onRemainderOnSieveAdditionalChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder"></mat-placeholder>
          <span matSuffix>{{getPropertyUnitByCode('RemainderOnSieve')}}</span>
          <input matInput  type="number" [ngModel]="remainderOnSieve | number:getPropertyPrecisionByCode('RemainderOnSieve')" (change)="onRemainderOnSieveChange($event)"/>
        </mat-form-field>
      </div>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <span matSuffix>г</span>
        <mat-placeholder class="group__placeholder">Навеска</mat-placeholder>
          <input matInput type="number" [ngModel]="remainderOnSieveNumber | number:getPropertyPrecisionByCode('RemainderOnSieve')" (change)="onRemainderOnSieveNumberChange($event)"/>
        </mat-form-field>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div class="sub-group">
    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Protein')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('Protein')}}</span>
        <input matInput type="number" [ngModel]="protein | number: getPropertyPrecisionByCode('Protein')" (change)="onProteinChange($event)"/>
      </mat-form-field>
    </div>

    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('WetFiber')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('WetFiber')}}</span>
        <input matInput type="number" [ngModel]="wetFiber | number:getPropertyPrecisionByCode('WetFiber')" (change)="onWetFiberChange($event)"/>
      </mat-form-field>
    </div>
    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('RawFat')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('RawFat')}}</span>
        <input matInput type="number" [ngModel]="rawFat | number:getPropertyPrecisionByCode('RawFat')" (change)="onRawFatChange($event)"/>
      </mat-form-field>
    </div>
    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('AshInsolubleHCl')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('AshInsolubleHCl')}}</span>
        <input matInput type="number" [ngModel]="ashInsolubleHCl | number:getPropertyPrecisionByCode('AshInsolubleHCl')" (change)="onAshInsolubleHClChange($event)"/>
      </mat-form-field>
    </div>
    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Calcium')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('Calcium')}}</span>
        <input matInput type="number" [ngModel]="calcium | number: getPropertyPrecisionByCode('Calcium')" (change)="onCalciumChange($event)"/>
      </mat-form-field>
    </div>
    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Natrium')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('Natrium')}}</span>
        <input matInput type="number" [ngModel]="natrium| number: getPropertyPrecisionByCode('Natrium')" (change)="onNatriumChange($event)"/>
      </mat-form-field>
    </div>
    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Phosphorus')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('Phosphorus')}}</span>
        <input matInput type="number" [ngModel]="phosphorus | number: getPropertyPrecisionByCode('Phosphorus')" (change)="onPhosphorusChange($event)"/>
      </mat-form-field>
    </div>
    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Lysine')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('Lysine')}}</span>
        <input matInput type="number" [ngModel]="lysine | number: getPropertyPrecisionByCode('Lysine')" (change)="onLysineChange($event)"/>
      </mat-form-field>
    </div>
    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('MethionineCystine')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('MethionineCystine')}}</span>
        <input matInput type="number" [ngModel]="methionineCystine | number: getPropertyPrecisionByCode('MethionineCystine')" (change)="onMethionineCystineChange($event)"/>
      </mat-form-field>
    </div>
    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('MetallicImpurity')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('MetallicImpurity')}}</span>
        <input matInput type="number" [ngModel]="metallicImpurity | number: getPropertyPrecisionByCode('MetallicImpurity')" (change)="onMetallicImpurityChange($event)"/>
      </mat-form-field>
    </div>

    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('InsectInfestation')}}</mat-placeholder>
          <span matSuffix>{{getPropertyUnitByCode('InsectInfestation')}}</span>
          <input matInput type="number" [ngModel]="insectInfestation | number: getPropertyPrecisionByCode('InsectInfestation')" (change)="onInsectInfestationChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('InsectInfestation', 'TEXT')}}</mat-placeholder>
          <input matInput [ngModel]="insectInfestationText" (keyup)="onInsectInfestationTextChange($event)"/>
        </mat-form-field>
      </div>
    </div>
    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('MetabolizedEnergyContent100')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('MetabolizedEnergyContent100')}}</span>
        <input matInput type="number" [ngModel]="metabolizedEnergyContent100 | number: getPropertyPrecisionByCode('MetabolizedEnergyContent100')" (change)="onMetabolizedEnergyContent100Change($event)"/>
      </mat-form-field>
    </div>
    <div style="clear: both;"></div>
</div>






</div>
<div style="clear:both;"></div>
</div>
