<div class="partner">
  <div class="partner__filters">
    <md-form-field class="partner__filters-item">
      <md-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</md-error>
      <input mdInput placeholder="{{stringService.get('FILTER_NAME')}}"/>
    </md-form-field>
    <md-form-field class="partner__filters-item">
      <md-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</md-error>
      <input mdInput placeholder="{{stringService.get('FILTER_NUMBER')}}"/>
    </md-form-field>
  </div>
  <div class="partner__table">
    <table style="width: 100%;" [dataSource]="dataSource" [displayedColumns]="displayedColumns" [remove]="deletePartner" [edit]="editPartner">
    </table>
  </div>
</div>
