<div fxLayout="column">
  <div fxLayout="column">
    <button md-button class="save-button" (click)="newUser()">{{stringService.get('CREATE_USER_BTN')}}</button>
  </div>
  <div fxLayout="column">
    <div fxFlex="10%" style="margin-top: 50px;">
      Список пользователей
    </div>
    <md-list fxFlex=90% style="margin-top: 50px;">
      <div class="list-item" md-list-item *ngFor="let user of users" (click)="editUser(user)" fxLayout="row">
        <div fxFlex>{{user.id}}</div>
        <div fxFlex>{{user.userName}}</div>
      </div>
    </md-list>

  </div>
</div>
