<div class="group">
  <div class="group__content" style="padding-top: 20px;">
    <div class="title-text">Карточка анализа зерна</div>
    <div class="group__content" style="padding-top: 20px;">
        <div class="group__content-first-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <mat-placeholder class="group__placeholder">Номер документа</mat-placeholder>
            <input required matInput [ngModel]="number" (keyup)="onNumberChange($event)"/>
          </mat-form-field>
        </div>
        <div class="group__content-second-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <mat-placeholder class="group__placeholder">Дата</mat-placeholder>
            <input required matInput [matDatepicker]="myDatepicker" [ngModel]="date" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>
        </div>

    <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">Наименование</mat-placeholder>
          <input readonly="true" matInput [(ngModel)]="data.goods.fullNameRu"/>
        </mat-form-field>
    </div>

      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">Нормативный документ</mat-placeholder>
          <input readonly="true" matInput [(ngModel)]="standards"/>
        </mat-form-field>
      </div>

      <div *ngIf="false" class="group__content-first-column">
          <seed-select-field placeholder="Тип"></seed-select-field>
      </div>

      <div class="group__content-first-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <mat-placeholder class="group__placeholder">Подтип</mat-placeholder>
            <input matInput [ngModel]="subType" (keyup)="onSubTypeChange($event)"/>
          </mat-form-field>
      </div>

      <div *ngIf="false" class="group__content-first-column">
          <seed-select-field placeholder="Класс"></seed-select-field>
      </div>

      <div class="group__content-full-width">
        <div class="group__content-first-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <span matSuffix>{{getPropertyUnitByCode('TestWeight')}}</span>
            <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('TestWeight')}}</mat-placeholder>
            <input matInput readonly="true" [ngModel]="testWeight" (keyup)="onTestWeightChange($event)"/>
          </mat-form-field>
        </div>
        <div class="group__content-second-column">
          <div class="group__content-first-column">
            <mat-form-field class="group__field" floatPlaceholder="always">
              <mat-error>Обязательное поле</mat-error>
              <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('TestWeight', 'FIRST_DEFINITION')}}</mat-placeholder>
              <input matInput [ngModel]="testWeightFirst" (keyup)="onTestWeightFirstChange($event)"/>
            </mat-form-field>
          </div>
          <div class="group__content-second-column">
            <mat-form-field class="group__field" floatPlaceholder="always">
              <mat-error>Обязательное поле</mat-error>
              <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('TestWeight', 'SECOND_DEFINITION')}}</mat-placeholder>
              <input matInput [ngModel]="testWeightSecond" (keyup)="onTestWeightSecondChange($event)"/>
            </mat-form-field>
          </div>
        </div>
      </div>


      <div class="group__content-full-width">
        <div class="group__content-first-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <span matSuffix>{{getPropertyUnitByCode('FallingNumber')}}</span>
            <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('FallingNumber')}}</mat-placeholder>
            <input matInput readonly="true" [ngModel]="fallingNumber" (keyup)="onFallingNumberChange($event)"/>
          </mat-form-field>
        </div>
        <div class="group__content-second-column">
          <div class="group__content-first-column">
            <mat-form-field class="group__field" floatPlaceholder="always">
              <mat-error>Обязательное поле</mat-error>
              <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('FallingNumber', 'FIRST_DEFINITION')}}</mat-placeholder>
              <input matInput [ngModel]="fallingNumberFirst" (keyup)="onFallingNumberFirstChange($event)"/>
            </mat-form-field>
          </div>
          <div class="group__content-second-column">
            <mat-form-field class="group__field" floatPlaceholder="always">
              <mat-error>Обязательное поле</mat-error>
              <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('FallingNumber', 'SECOND_DEFINITION')}}</mat-placeholder>
              <input matInput [ngModel]="fallingNumberSecond" (keyup)="onFallingNumberSecondChange($event)"/>
            </mat-form-field>
          </div>
        </div>
      </div>


    <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Colour')}}</mat-placeholder>
          <input matInput [ngModel]="color" (keyup)="onColorChange($event)"/>
        </mat-form-field>
    </div>

    <div class="group__content-second-column">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Smell')}}</mat-placeholder>
        <input matInput [ngModel]="smell" (keyup)="onSmellChange($event)"/>
      </mat-form-field>
    </div>

    <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Moisture')}}</mat-placeholder>
          <input matInput [ngModel]="moisture" (keyup)="onMoistureChange($event)"/>
          <span matSuffix>{{getPropertyUnitByCode('Moisture')}}</span>
        </mat-form-field>
    </div>

    <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">Масса навески</mat-placeholder>
          <input matInput [ngModel]="portionWeight" (keyup)="onPortionWeightChange($event)"/>
          <span matSuffix>г</span>
        </mat-form-field>
    </div>

    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('PassSieves')}}</mat-placeholder>
          <input matInput [ngModel]="passSievesAdditional" (keyup)="onPassSievesAdditionalChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('PassSieves', 'NUMBER')}}</mat-placeholder>
          <span matSuffix></span>
          <input matInput [ngModel]="passSievesNumber" (keyup)="onPassSievesNumberChange($event)"/>
        </mat-form-field>
      </div>
      </div>
      <div class="group__content-second-column">
        <div class="group__content-first-column">
          <mat-form-field class="group__field" floatPlaceholder="always">
            <mat-error>Обязательное поле</mat-error>
            <span matSuffix>{{getPropertyUnitByCode('PassSieves')}}</span>
            <mat-placeholder class="group__placeholder"></mat-placeholder>
            <input matInput readonly="true" [ngModel]="passSieves" (keyup)="onPassSievesChange($event)"/>
          </mat-form-field>
        </div>
        <div class="group__content-second-column">
          <mat-checkbox color="primary" class="cbox" [ngModel]="passSievesBool" (change)="onPassSievesBoolChange($event)">{{getAdditionalPropertyTitleByCode('PassSieves', 'CONSIDER_BROKEN')}}</mat-checkbox>
        </div>
      </div>
    </div>

    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <span matSuffix>{{getPropertyUnitByCode('Vitreousness')}}</span>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Vitreousness')}}</mat-placeholder>
          <input matInput [ngModel]="vitreousness" (keyup)="onVitreousnessChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('Vitreousness', 'VITREOUS')}}</mat-placeholder>
          <input matInput [ngModel]="vitreousnessFirst" (keyup)="onVitreousnessFirstChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('Vitreousness', 'POWDERY')}}</mat-placeholder>
          <span matSuffix></span>
          <input matInput [ngModel]="vitreousnessSecond" (keyup)="onVitreousnessSecondChange($event)"/>
        </mat-form-field>
      </div>
      </div>
    </div>

    <div class="group__content-first-column">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <span matSuffix>{{getPropertyUnitByCode('Giuten')}}</span>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Giuten')}}</mat-placeholder>
        <input matInput [ngModel]="giutenNumber" (keyup)="onGiutenNumberChange($event)"/>
      </mat-form-field>
    </div>
    <div class="group__content-second-column">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder"></mat-placeholder>
        <input matInput readonly="true" [ngModel]="giuten" (keyup)="onGiutenChange($event)"/>
      </mat-form-field>
    </div>

    <div class="group__content-first-column">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('GiutenGroup')}}</mat-placeholder>
        <input matInput [ngModel]="giutenGroup" (keyup)="onGiutenGroupChange($event)"/>
      </mat-form-field>
    </div>
    <div class="group__content-second-column">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('GiutenIndex')}}</mat-placeholder>
        <input matInput [ngModel]="giutenIndex" (keyup)="onGiutenIndexChange($event)"/>
      </mat-form-field>
    </div>

    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
            <span matSuffix>{{getPropertyUnitByCode('Scarious')}}</span>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('Scarious')}}</mat-placeholder>
          <input matInput readonly="true" [ngModel]="scarious" (keyup)="onScariousChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('Scarious', 'PORTION_WEIGHT')}}</mat-placeholder>
          <input matInput [ngModel]="scariousFirst" (keyup)="onScariousFirstChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('Scarious', 'SKIN_WEIGHT')}}</mat-placeholder>
          <span matSuffix></span>
          <input matInput [ngModel]="scariousSecond" (keyup)="onScariousSecondChange($event)"/>
        </mat-form-field>
      </div>
      </div>
    </div>

    <div class="group__content-full-width">
      <mat-form-field class="group__field" floatPlaceholder="always">
        <mat-error>Обязательное поле</mat-error>
        <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('ContentOfKernel')}}</mat-placeholder>
        <span matSuffix>{{getPropertyUnitByCode('ContentOfKernel')}}</span>
        <input matInput [ngModel]="contentOfKernel" (keyup)="onContentOfKernelChange($event)"/>
      </mat-form-field>
    </div>

    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
            <span matSuffix>{{getPropertyUnitByCode('CornBug')}}</span>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('CornBug')}}</mat-placeholder>
          <input matInput readonly="true" [ngModel]="cornBug" (keyup)="onCornBugChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('CornBug', 'FIRST_DEFINITION')}}</mat-placeholder>
          <input matInput [ngModel]="cornBugFirst" (keyup)="onCornBugFirstChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('CornBug', 'SECOND_DEFINITION')}}</mat-placeholder>
          <span matSuffix></span>
          <input matInput [ngModel]="cornBugSecond" (keyup)="onCornBugSecondChange($event)"/>
        </mat-form-field>
      </div>
      </div>
    </div>

    <div class="group__content-full-width">
      <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
            <span matSuffix>{{getPropertyUnitByCode('SeedGrainWithWeevilCaterpillar')}}</span>
          <mat-placeholder class="group__placeholder">{{getPropertyTitleByCode('SeedGrainWithWeevilCaterpillar')}}</mat-placeholder>
          <input matInput readonly="true" [ngModel]="seedGrainWithWeevilCaterpillar" (keyup)="onSeedGrainWithWeevilCaterpillarChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <div class="group__content-first-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('SeedGrainWithWeevilCaterpillar', 'PORTION_WEIGHT')}}</mat-placeholder>
          <input matInput [ngModel]="seedGrainWithWeevilCaterpillarFirst" (keyup)="onSeedGrainWithWeevilCaterpillarFirstChange($event)"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-error>Обязательное поле</mat-error>
          <mat-placeholder class="group__placeholder">{{getAdditionalPropertyTitleByCode('SeedGrainWithWeevilCaterpillar', 'WEIGHT_DAMAGED_SEEDS')}}</mat-placeholder>
          <span matSuffix></span>
          <input matInput [ngModel]="seedGrainWithWeevilCaterpillarSecond" (keyup)="onSeedGrainWithWeevilCaterpillarSecondChange($event)"/>
        </mat-form-field>
      </div>
      </div>
    </div>


</div>
<div style="clear:both;"></div>
</div>
