.standard-title {
  padding: 20px 0;
    font-size: 30px;
}
.group {
  clear:both;
  display: block;
  //padding: 40px 40px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 -20px;
  &__back {
      background: #F6F8F8;
  }
  &__content {
    float: left;
    width: 100%;
    &-first-column {
      float: left;
      width: 48%;
    }
    &-second-column {
      float: left;
      width: 48%;
      padding-left: 4%;
      &-44 {
        float: left;
        width: 44%;
        padding-left: 4%;
      }
    }
    &-full-width {
      float: left;
      width: 100%;
    }
  }
  &__field {
    width: 100%;
  }
  &__placeholder {
      color: #3696D7;
  }
  &__button {
      background-color: #3498DB;
      color: white;
  }
  &__close-icon {
    float: left;
    width: 2%;
    padding-top: 5px;
    cursor:pointer;
  }
}
.action-panel {
  width: 100%;
  text-align: right;
}

.list-item {
  border-bottom: 1px solid  #aaa;
  padding: 10px 10px;
  cursor: pointer;
  width: 100%;
  display: block;
}
.list-item:hover {
  background-color: #aaa;
}
