<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.id}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Фамилия </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.userFamilyName}} </md-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container mdColumnDef="positions">
      <md-header-cell *mdHeaderCellDef> Имя </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.userGivenName}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="mail">
      <md-header-cell *mdHeaderCellDef> Почта </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.email}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row class="table-row" *mdRowDef="let row; columns: displayedColumns;" (click)="clickRow(row)"></md-row>
  </md-table>
</div>
