<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.column">
      <mat-header-cell *matHeaderCellDef> {{stringService.get(column.title)}} </mat-header-cell>
      <ng-container *ngIf="column.type=='date'">
        <mat-cell  *matCellDef="let element"> {{getColumnValue(element, column)}} </mat-cell>
      </ng-container>
      <ng-container *ngIf="column.type!='date'">
        <mat-cell  *matCellDef="let element"> {{getColumnValue(element, column)}} </mat-cell>
      </ng-container>
      <!-- <mat-cell *ngIf="column.type!='date'" *matCellDef="let element"> {{getColumnValue(element, column)}} </mat-cell> -->
    </ng-container>
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> {{stringService.get('ACTIONS')}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button (click)="clickRow(row)">button</button> </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Фамилия </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userFamilyName}} </mat-cell>
    </ng-container> -->

    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="positions">
      <mat-header-cell *matHeaderCellDef> Имя </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userGivenName}} </mat-cell>
    </ng-container> -->

    <!-- Color Column -->
    <!-- <ng-container matColumnDef="mail">
      <mat-header-cell *matHeaderCellDef> Почта </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element" >
      <mat-icon matTooltip="Удалить" matTooltipPosition="above" *ngIf="remove" (click)="deleteRow(element)" class="action-icon">delete</mat-icon>
      <mat-icon matTooltip="Редактировать" matTooltipPosition="above" *ngIf="edit" (click)="editRow(element)" class="action-icon">mode_edit</mat-icon>
      <mat-icon matTooltip="Просмотр" matTooltipPosition="above" *ngIf="view" (click)="viewRow(element)" class="action-icon">remove_red_eye</mat-icon>
  </mat-cell>
</ng-container>

    <mat-header-row *matHeaderRowDef="cols"></mat-header-row>
    <mat-row class="table-row" *matRowDef="let row; columns: cols;"></mat-row>
  </mat-table>
  <div class="total">Всего записей: {{dataSource.getDataCount()}}</div>
</div>
