.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
}

.action-icon {
  float: right;
  padding: 10px 0px;
  cursor: pointer;
}
