<div class="title">
  <div class="title-text">Заявка</div>
  <div class="title-content">
    <div class="title-content-column">
      <mat-form-field class="title__item" floatPlaceholder="always">
        <mat-placeholder class="title__item-placeholder">{{stringService.get('NEW_APPLICATION_TITLE')}}</mat-placeholder>
        <input matInput [(ngModel)]="data.number" [formControl]="numberControl" required/>
        <mat-error *ngIf="numberControl.invalid">Обязательное поле</mat-error>
      </mat-form-field>
      <!-- <span class="title__item-label">{{stringService.get('NEW_APPLICATION_TITLE_FROM')}}</span> -->
      <mat-form-field class="title__item" floatPlaceholder="always">
        <mat-placeholder class="title__item-placeholder">{{stringService.get('NEW_APPLICATION_TITLE_DATE')}}</mat-placeholder>
        <input matInput [matDatepicker]="myDatepicker" [formControl]="dateControl" [ngModel]="date" (dateChange)="onDateChange($event)" required>
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
        <mat-error *ngIf="dateControl.invalid">Обязательное поле</mat-error>
      </mat-form-field>
      <!-- <span class="title__item-label">{{stringService.get('NEW_APPLICATION_TITLE_IN')}}</span> -->
    </div>
    <div class="title-content-column" style="padding-top: 8px;">
      <seed-select-field required="true" code="branchOffice" (change)="onBranchChange($event)" [data]="data.branchOffice" placeholder="{{stringService.get('APPLICATION_BRANCH_TITLE')}}"></seed-select-field>
      <!-- <mat-form-field class="title__item-grow" floatPlaceholder="always">
        <mat-placeholder class="title__item-placeholder">{{stringService.get('APPLICATION_LAB_TITLE')}}</mat-placeholder>
        <input matInput [(ngModel)]="data.laboratory">
      </mat-form-field> -->
    </div>
    <div style="clear:both;"></div>
</div>
</div>
