.title {
  display: block;
  padding: 40px 20px;
  &__item {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 9%;

    &-label {
      font-size: 18px;
    }
    &-placeholder {
      color: #3696D7;
    }
  }

  &-text {
    padding: 20px 0;
    font-size: 30px;
  }

  &__item-grow {
    padding: 10px 10px;
    width: 100%;
  }
}

.title-content {
  &-column {
    float: left;
    width:50%;
  }
  width: 100%;
}
