@import '../protocol.component';

.title-text {
  padding: 20px 0;
  font-size: 30px;
}

.collapsible-title {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

i {
    border: solid #546E7A;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 8px;
    margin-bottom: 2px;
}
