<div class="field">
  <mat-form-field class="short-field">
    <input matInput [value]="getPropertyName()" readonly="true"/>
  </mat-form-field>

    <div class="units">{{getPropertyUnit()}}</div>

    <mat-form-field *ngIf="isInputVisible(config)" class="short-field-extra">
      <input type="number" matInput placeholder="Вес" [ngModel]="additionalFirst|number:'1.2-2'" (change)="onFirstValueChanged($event)"/>
    </mat-form-field>
      <mat-form-field class="short-field-extra">
        <input type="number" readonly="true" matInput placeholder="" [ngModel]="config.data.doubleValue|number:'1.2-2'" (change)="onValueChanged($event)"/>
      </mat-form-field>

      <mat-form-field *ngIf="isInputVisible(config)" class="short-field-extra">
        <input type="number" matInput placeholder="Норма до" [ngModel]="additionalSecond|number:'1.2-2'" (change)="onSecondValueChanged($event)"/>
      </mat-form-field>

  <mat-icon *ngIf="!config.parent.data.virtual" class="close-icon" (click)="removeItem()">close</mat-icon>
</div>
