.toggle {
  float: left;
  padding-top: 4px;
  padding-right: 5px;
}

mat-icon.close-icon {
  font-size: 14px;
  font-weight: bold;
  float: left;
  height: 14px!important;
  width: 14px!important;
  padding-top: 3px;
  padding-left: 10px;
}
