<div class="content">
  <form [formGroup]="partnerForm" (ngSubmit)="submitAction()" class="content__form">
  <div class="content__form-header">
    <mat-form-field class="form-header__item">
    <mat-select formControlName="partnerType" placeholder="{{stringService.get('SELECT_AGENT_TYPE')}}">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{ type.title }}
      </mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field class="form-header__item">
      <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
      <input formControlName="documentNumber" matInput placeholder=
      "{{stringService.get('DOCUMENT_NUMBER')}}"/>
    </mat-form-field>
    <mat-form-field class="form-header__item">
    <mat-select formControlName="documentType" placeholder="{{stringService.get('SELECT_DOCUMENT_TYPE')}}">
      <mat-option *ngFor="let type of docTypes" [value]="type.value">
        {{ type.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <button *ngIf="collapsed" mat-button type="button" (click)="toggleView()" class="form-header__item add-button">{{stringService.get('AGENT_ADD')}}</button>
    <button *ngIf="!collapsed" mat-button type="submit" class="form-header__item save-button">{{stringService.get('AGENT_SAVE')}}</button>
  </div>
  <div *ngIf="showNotification" class="form-header__notification">{{stringService.get('PARTNER_EXISTS')}}</div>
  <div *ngIf="!collapsed">
  <mat-form-field class="content__form-item">
    <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
    <input formControlName="documentIssued" matInput placeholder=
    "{{stringService.get('GIVEN_BY')}}"/>
  </mat-form-field>
  <mat-form-field class="content__form-item">
    <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
    <input formControlName="name" matInput placeholder=
    "{{stringService.get('AGENT_TITLE')}}"/>
  </mat-form-field>
  <mat-form-field class="content__form-item">
    <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
    <input formControlName="address" matInput placeholder=
    "{{stringService.get('AGENT_ADDRESS')}}"/>
  </mat-form-field>
  <mat-form-field class="content__form-item">
    <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
    <input formControlName="contactPhones" matInput placeholder=
    "{{stringService.get('ADD_TELEPHONE')}}"/>
  </mat-form-field>
  <mat-form-field class="content__form-item">
    <mat-error>{{stringService.get('REQUIRED_FIELD_ERROR')}}</mat-error>
    <input formControlName="fax" matInput placeholder=
    "{{stringService.get('AGENT_FAX')}}"/>
  </mat-form-field>
</div>
</form>
</div>
