<div class="group group__back">

    <div class="group__content">
      <div class="group__content-first-column">
        <mat-form-field floatPlaceholder="always" class="group__field">
          <mat-placeholder class="group__placeholder">Отобраны пробы от партии</mat-placeholder>
          <input matInput [(ngModel)]="data.goods"/>
        </mat-form-field>
      </div>
      <div class="group__content-second-column">
        <mat-form-field class="group__field" floatPlaceholder="always">
          <mat-placeholder class="group__placeholder">Дата выработки</mat-placeholder>
          <input matInput [matDatepicker]="myDatepicker" [ngModel]="date" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
    <div class="group__content-first-column">
      <seed-multiselect-field placeholder="В соответствии с ГОСТ" [data]="data.standard" (change)="onStandardChange($event)" taxonomy="Standard" [taxonomyParams]="taxonomyParams" nameField="fullName" nameFieldToView="shortName"></seed-multiselect-field>
      <!-- <seed-select-field code="partner" placeholder="В соответствии с ГОСТ" [data]="data.standard" (change)="onGhostsChange($event)"></seed-select-field> -->
      <!-- <mat-form-field floatPlaceholder="always" class="group__field">
        <mat-placeholder class="group__placeholder">В соответствии с ГОСТ</mat-placeholder>
        <input matInput [(ngModel)]="data.goodsStandard"/>
      </mat-form-field> -->
    </div>
    <div style="clear: both;"></div>
  </div>
  <div style="clear: both;"></div>
</div>
